[Unit]
Description=RMS
After=multi-user.target mst-launcher.service pipewire-launcher.service cvr-launcher.service
Requires=mst-launcher.service pipewire-launcher.service

[Service]
ExecStart=/bin/sh -c '(/lib/rdk/startRMS.sh)' &
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
