[Unit]
Description=PipeWire
After=multi-user.target
Before=cvr-launcher.servicre rms-launcher.service

[Service]
ExecStart=/bin/sh -c '(/lib/rdk/startPipeWire.sh)' &
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
